/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 40px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 40px;
  background-color: #f5f5f5;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

.text-muted {
  margin: 10px 0;
  font-size: 0.8rem;
}

.container {
  width: auto;
  padding: 0 15px;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
  text-align: center;
}

.btn {
  padding-left: 25px;
  padding-right: 25px;
}

.btn-join {
  margin-top: 10px;
  float: right;
}

code {
  font-size: 80%;
}
